<header class="site-header" role="banner">

  <div class="wrapper" style="text-align: center;">
    {%- assign sorted_pages = site.pages | sort: "weight" -%}
    {%- assign default_paths = sorted_pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <br>

    {%- if page_paths -%}
      <nav class="site-nav">
        {%- assign sorted_pages = site.pages | sort: "weight" -%}
        {%- for page in sorted_pages -%}
          {%- if page.title -%}
            <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </nav>
    {%- endif -%}
  </div>
</header>
